<article>
	<div class="container-fluid">
		<div class="row  questions">
			<br />
			<div class="col-sm-12 col-md-7 text">
				<p>Have questions? Send us a text!</p>
			</div>
			<div class="col-sm-12 col-md-5 phone">
				<p>(801) 528-1214</p>
			</div>
		</div>
	</div>
</article>

<div class="container-fluid" id="historyBanner">
	<div class="row hist_main_img">

		<div class="col-xs-8 text">

			<h2>Youth Futures</h2>
			<h2 class="h2style1">History</h2>

		</div>

	</div>

</div>

<div class="container-fluid">

	<div class="row history_text" >

					<section class = "col-xs-12">

						<p class = "mont_regular_22_darkgray">Located in the heart of downtown Ogden, Youth Futures opened Utah's first homeless Residential Support Temporary Youth Shelter on February 20, 2015. Youth Futures provides shelter and drop-in services to all youth ages 12-17, and will not exclude any youth who falls within these age ranges, regardless of circumstance. We provide 14 temporary overnight shelter beds and day-time drop-in services to youth, as well as intensive case management to help youth become re-united with family or self-sufficiently contributing to our community. Weekly outreach efforts assist in building rapport with street youth, ensuring they receive food and other basic necessities and educating them about options to living in unsafe conditions. Youth are guided in a loving, supportive and productive way, encouraging their own personal path for a healthy future.</p>

					</section>

				</div>

</div>

<div class="container">

	<div class="row history_text_pics">

		<section class="col-xs-12  col-md-4 first_img ">

			<img src="../resources/history_kristen_scott.jpg" class="img-responsive center-block" title="Kristen and Scott" alt="Kristen and Scott">
			<p class="mont_light_14_white hist_subtitle">Kristen and Scott</p>


		</section>

		<section class="col-xs-12 col-md-4 second_img">

			<img src="../resources/history_shelter.jpg" class="img-responsive img-responsive center-block" title="Shelter" alt="Shelter">
			<p class="mont_light_14_white hist_subtitle">The shelter home</p>



		</section>

		<section class="col-xs-12 col-md-4 third_img">

			<img src="../resources/history_kristen.jpg" class="img-responsive center-block" title="Kristen" alt="Kristen">
			<p class="mont_light_14_white hist_subtitle">Kristen</p>


		</section>

	</div>

</div>

<div class="container-fluid">

	<div class="row history_text" >

					<section class = "col-xs-12">

						<p class = "mont_regular_22_darkgray">Youth Futures was founded by Kristen Mitchell and Scott Catuccio, who had been conceptually planning to provide shelter and case management services to youth for over six years. It was identified that there was a lack of shelter services for the estimated 5,000 youth who experience homelessness for at least one night a year in Utah, so Scott and Kristen began researching other states that provide shelter services to youth. It was quickly identified that the largest barrier to providing services to homeless youth in Utah was a law prohibiting the opening of shelter facilities for youth. </p>

					</section>

				</div>

</div>

<div class="container-fluid">

	<div class="row hist_2nd_back_img">

		<section class="col-xs-12 hist_2nd_back_img_text">

			<h4>5,000 youth experience homelessness for at least one night a year in Utah</h4>

		</section>

	</div>

</div>

<div class="container-fluid">

	<div class="row history_text" >

					<section class = "col-xs-12">

						<p class = "mont_regular_22_darkgray">During the 2014 Legislative Session, HB132 was passed, which allowed for rewriting the prohibitive law and drafting licensing procedures for residential support programs for temporary homeless youth shelter in Utah. Youth Futures and other homeless youth service providers participated in the rules writing process. The licensing rules enrolled on October 22, 2014, and the founders began to set-up the facility for licensing. Youth Futures received the first license for homeless youth shelter granted in the State of Utah under the new law. </p>

					</section>

				</div>

</div>

<div class="container-fluid">

	<div class="row history_green_text" >

					<section class = "col-xs-12">

						<p class = "mont_light_32_white">During the first full year of operations (February 20, 2015-March 31, 2016), our Residential Support Temporary Youth Shelter has:</p>

					</section>

				</div>

</div>

<div class="container">

	<section class="row more">

		<div class="col-xs-12 col-md-4 more_volunteer">


			<img src="../resources/history_meal.svg" title="Meal" alt="Meal">

			<p class="vol_p mont_light_18_darkgray">Served <span class="green">7,085</span> meals; 3 meals a day and 2 snacks for shelter and drop-in youth. Opened the resource room <span class="green">354</span> times with access to basic nec-essities including clothing, hygiene items, back packs, blankets, sleeping bags, basic medical supplies, etc.</p>

		</div>

		<div class="col-xs-12 col-md-4 more_stories">

			<img src="../resources/history_hand.svg" title="Outreach Hand" alt="Hand">

			<p class="youth_p mont_light_18_darkgray">Conducted more than <span class="green">245</span> street outreach hours and provided items from the resource room to street youth.</p>

		</div>

		<div class="col-xs-12 col-md-4 more_events">

			<img src="../resources/house_icon2.png"@*for some reason the history_house.svg file is missing the house so replacing with the png for now*@ title="House" alt="House">

			<p class="events_p mont_light_18_darkgray">Provided <span class="green">1,535</span> shelter night stays and <span class="green">511</span> drop in services including case management, connections to health care, mental health care and group therapy, facilitation with other youth service providers, computer access, showers, laundry facilities, etc.</p>

		</div>

	</section>


</div>

<div id="outreachBanner">
	<hr />
	<br />
</div>

<div class="container-fluid">

	<div class="row outreach_main_img">


		<div class="col-xs-8 text">

			<h2>Street</h2>
			<h2 class="h2style1">Outreach</h2>

		</div>

	</div>

</div>

<div class="container-fluid">

	<div class="row outreach_text" >

						<section class = "col-xs-12">

							<p class = "mont_regular_22_darkgray">Street Outreach is designed to meet the clients where they are on the street to build rapport and encourage youth to access drop-in and shelter services. This program offers, case management, hygiene items, food, sleeping bags, and other essential items as needed. Street Outreach currently take place once per week on Wednesdays. The team visits the same Ogden, Utah locations every week:</p>

						</section>

					</div>

</div>

<div class="container-fluid">

	<div class="row outreach_bullet">

		<section class="col-xs-12 col-md-6">

			<ul>
				<li>Jefferson Park</li>
				<li>Marchall White Center Park</li>
				<li>Lorin Farr Skate Park</li>
			</ul>

		</section>

		<section class="col-xs-12 col-md-6">

			<ul>
				<li>Basketball Court at Bonneville Park</li>
				<li>Under the Ogden River Bridge (sporadic)</li>
				<li>Lantern House Homeless Shelter</li>
			</ul>

		</section>

	</div>

</div>

<div id="directorsMain">
	<hr />
	<br />
</div>

<div class="container-fluid">

	<div class="row board_header">

		<div class="col-xs-6 text">

			<h2>Board of</h2>
			<h2 class="h2style1">Directors</h2>

		</div>

	</div>

</div>

<div class="container">

	<div class="row board_members">

		<section class="col-xs-12 col-md-4">

			<p><span class="name">SCOTT CATUCCIO</span><br/>Board President<br/>President, A3 Utah<br/> <span class="email">scott.catuccio@gmail.com</span></p>

		</section>

		<section class="col-xs-12 col-md-4">

			<p><span class="name">KRISTEN MITCHELL</span><br/>Board Vice President<br/>Executive Director, Youth Futures<br/><span class="email">kristen@yfut.org</span> </p>

		</section>

		<section class="col-xs-12 col-md-4">

			<p><span class="name">ALYSON DEUSSEN</span><br/>Board Secretary<br/>Ouelessebougou Utah Alliance<br/><span class="email">alysondeussen@gmail.com</span></p>

		</section>

	</div>

</div>
<div id="staffMain">
	<hr/>
	<br />
</div>
<div class="container-fluid">

	<div class="row board_header">

		<div class="col-xs-6 text">
			<h2>Our</h2>
			<h2 class="h2style1">Staff</h2>

		</div>

	</div>

</div>

<div class="container">

	<div class="row staff_members">

		<section class="col-xs-12 col-md-4">

			<img src="../resources/staff_justine.jpg" class="img-responsive" title="Justine Murray" alt="Justine Murray">

			<p><span class="name">JUSTINE MURRAY</span><br/>Program Manager, Youth Futures<br/>President, A3 Utah<br/> <span class="email">jmurray@yfut.org</span></p>

		</section>

		<section class="col-xs-12 col-md-4">

			<img src="../resources/staff_susan.jpg" class="img-responsive" title="Susan McBride" alt="Susan McBride">

			<p><span class="name">SUSAN MCBRIDE</span><br/>Floor Staff Co-Lead, Youth Futures<br/>Executive Director, Youth Futures<br/><span class="email">kristen@yfut.org</span> </p>

		</section>

		<section class="col-xs-12 col-md-4">

			<img src="../resources/staff_alyson.jpg" class="img-responsive" title="Alyson Deussen" alt="Alyson Deussen">

			<p><span class="name">ALYSON DEUSSEN</span><br/>Floor Staff Co-Lead, Youth Futures<br/>Ouelessebougou Utah Alliance<br/><span class="email">aallred@yfut.org</span></p>

		</section>

	</div>

</div>

<div id="mediaMain">
	<hr />
	<br />
</div>

<div class="container-fluid">

	<div class="row media_header">

		<div class="col-xs-6 text">

			<h2 class="h2style1">Media</h2>

		</div>

	</div>

</div>

<div class="container-fluid">

	<div class="row media_subheader">

		<div class="col-xs-12 ">

			<p class="title">America First Provides an 'Assist' to Homeless Shelter</p>
			<p class="mont_regular_22_darkgray time">03/18/2015 10:03 pm<p>
				<a class="link" href="#">inShare</a>

		</div>

	</div>

</div>

<div class="container">

	<div class="row media_pic">

		<div class="col-xs-12 col-lg-7 pic">

			<img src="../resources/media_check.jpg" class="img-responsive center-block" title="America First Check" alt="Check">

		</div>

		<div class="col-xs-12 col-lg-5 subtext">

			<p class="subtitle">At right, from left to right: Kristen Mitchell, executive director of Youth Futures Utah and Scott Tuccio, president of the Board of Directorsof Youth Futures Utah, stand with Nicole Cypers, public relations and social media manager for America First Credit Union, at the Weber State basketball game for a check presentation in the amount of $3,400 on Saturday, March 7 at Weber State University. </p>

		</div>

	</div>

</div>

<div class="container-fluid">

	<div class="row media_text" >

					<section class = "col-xs-12">

						<p class = "mont_regular_22_darkgray">OGDEN, Utah--America First Credit Union awarded Youth Futures Utah, a homeless shelter for youth, with $3,400 during the Weber State University basketball game. America First paid the organization $10 for each assist the Weber State University basketball team completed throughout the 2014 – 2015 season. With 340 assists, the donation amounted to $3,400 in total for the newly-opened youth homeless organization, located in Ogden, Utah.</p>

						<p class = "mont_regular_22_darkgray">Youth Futures Utah is a 501(c)3 organization committed to the well-being of the youth of Utah. The mission of Youth Futures Utah is to provide shelter, support, resources and guidance to homeless, unaccompanied and runaway youth in Utah. Youth Futures connects each youth with food, housing and resources to build the skills needed to support a healthy future.</p>

					</section>

				</div>

</div>

<div id="donorsMain">
	<hr />
	<br />
</div>

<div class="container-fluid">

	<div class="row donor_header">

		<div class="col-xs-6 text">

			<h2 class="h2style1">Donors</h2>

		</div>

	</div>

</div>

<div class="container-fluid">

	<div class="row donor_subheader">

		<div class="col-xs-12 ">

			<p class="title_plat">Platinum Level Donors</p>

		</div>

	</div>

</div>

<div class="container-fluid">
	<div class="pre-scrollable">
		<div class="row donor_list">

			<div class="col-xs-4 donor_box plat">

				<p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
				<p class="year">2015 & 2016</p>

			</div>

			<div class="col-xs-4 donor_box plat">

				<p class="donor_name">IVY LANE PEDIATRICS</p>
				<p class="year">2016</p>

			</div>

			<div class="col-xs-4 donor_box plat">

				<p class="donor_name">SORENSON LEGACY FOUNDATION</p>
				<p class="year">2015</p>

			</div>

			<div class="col-xs-4 donor_box plat">

				<p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
				<p class="year">2015 & 2016</p>

			</div>

			<div class="col-xs-4 donor_box plat">

				<p class="donor_name">IVY LANE PEDIATRICS</p>
				<p class="year">2016</p>

			</div>

			<div class="col-xs-4 donor_box plat">

				<p class="donor_name">SORENSON LEGACY FOUNDATION</p>
				<p class="year">2015</p>

			</div>

			<div class="col-xs-4 donor_box plat">

				<p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
				<p class="year">2015 & 2016</p>

			</div>

			<div class="col-xs-4 donor_box plat">

				<p class="donor_name">IVY LANE PEDIATRICS</p>
				<p class="year">2016</p>

			</div>

			<div class="col-xs-4 donor_box plat">

				<p class="donor_name">SORENSON LEGACY FOUNDATION</p>
				<p class="year">2015</p>

			</div>

		</div>

	</div>
</div>

<div class="container-fluid">

	<div class="row donor_subheader">

		<div class="col-xs-12 ">

			<p class="title_gold">Gold Level Donors</p>

		</div>

	</div>

</div>

<div class="container-fluid">
	<div class="pre-scrollable">
		<div class="row donor_list">

			<div class="col-xs-4 donor_box gold">

				<p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
				<p class="year">2015 & 2016</p>

			</div>

			<div class="col-xs-4 donor_box gold">

				<p class="donor_name">IVY LANE PEDIATRICS</p>
				<p class="year">2016</p>

			</div>

			<div class="col-xs-4 donor_box gold">

				<p class="donor_name">SORENSON LEGACY FOUNDATION</p>
				<p class="year">2015</p>

			</div>

			<div class="col-xs-4 donor_box gold">

				<p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
				<p class="year">2015 & 2016</p>

			</div>

			<div class="col-xs-4 donor_box gold">

				<p class="donor_name">IVY LANE PEDIATRICS</p>
				<p class="year">2016</p>

			</div>

			<div class="col-xs-4 donor_box gold">

				<p class="donor_name">SORENSON LEGACY FOUNDATION</p>
				<p class="year">2015</p>

			</div>

			<div class="col-xs-4 donor_box gold">

				<p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
				<p class="year">2015 & 2016</p>

			</div>

			<div class="col-xs-4 donor_box gold">

				<p class="donor_name">IVY LANE PEDIATRICS</p>
				<p class="year">2016</p>

			</div>

			<div class="col-xs-4 donor_box gold">

				<p class="donor_name">SORENSON LEGACY FOUNDATION</p>
				<p class="year">2015</p>

			</div>
		</div>
	</div>

</div>

<div class="container-fluid">

	<div class="row donor_subheader">

		<div class="col-xs-12 ">

			<p class="title_silver">Silver Level Donors</p>

		</div>

	</div>

</div>

<div class="container-fluid">
	<div class="pre-scrollable">
		<div class="row donor_list">

			<div class="col-xs-4 donor_box silver">

				<p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
				<p class="year">2015 & 2016</p>

			</div>

			<div class="col-xs-4 donor_box silver">

				<p class="donor_name">IVY LANE PEDIATRICS</p>
				<p class="year">2016</p>

			</div>

			<div class="col-xs-4 donor_box silver">

				<p class="donor_name">SORENSON LEGACY FOUNDATION</p>
				<p class="year">2015</p>

			</div>

			<div class="col-xs-4 donor_box silver">

				<p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
				<p class="year">2015 & 2016</p>

			</div>

			<div class="col-xs-4 donor_box silver">

				<p class="donor_name">IVY LANE PEDIATRICS</p>
				<p class="year">2016</p>

			</div>

			<div class="col-xs-4 donor_box silver">

				<p class="donor_name">SORENSON LEGACY FOUNDATION</p>
				<p class="year">2015</p>

			</div>

			<div class="col-xs-4 donor_box silver">

				<p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
				<p class="year">2015 & 2016</p>

			</div>

			<div class="col-xs-4 donor_box silver">

				<p class="donor_name">IVY LANE PEDIATRICS</p>
				<p class="year">2016</p>

			</div>

			<div class="col-xs-4 donor_box silver">

				<p class="donor_name">SORENSON LEGACY FOUNDATION</p>
				<p class="year">2015</p>

			</div>
		</div>
	</div>

</div>

<div class="container-fluid">

	<div class="row donor_subheader">

		<div class="col-xs-12 ">

			<p class="title_bronze">Bronze Level Donors</p>

		</div>

	</div>

</div>

<div class="container-fluid">
	<div class="pre-scrollable">
		<div class="row donor_list">

			<div class="col-xs-4 donor_box bronze">

				<p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
				<p class="year">2015 & 2016</p>

			</div>

			<div class="col-xs-4 donor_box bronze">

				<p class="donor_name">IVY LANE PEDIATRICS</p>
				<p class="year">2016</p>

			</div>

			<div class="col-xs-4 donor_box bronze">

				<p class="donor_name">SORENSON LEGACY FOUNDATION</p>
				<p class="year">2015</p>

			</div>

			<div class="col-xs-4 donor_box bronze">

				<p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
				<p class="year">2015 & 2016</p>

			</div>

			<div class="col-xs-4 donor_box bronze">

				<p class="donor_name">IVY LANE PEDIATRICS</p>
				<p class="year">2016</p>

			</div>

			<div class="col-xs-4 donor_box bronze">

				<p class="donor_name">SORENSON LEGACY FOUNDATION</p>
				<p class="year">2015</p>

			</div>

			<div class="col-xs-4 donor_box bronze">

				<p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
				<p class="year">2015 & 2016</p>

			</div>

			<div class="col-xs-4 donor_box bronze">

				<p class="donor_name">IVY LANE PEDIATRICS</p>
				<p class="year">2016</p>

			</div>

			<div class="col-xs-4 donor_box bronze">

				<p class="donor_name">SORENSON LEGACY FOUNDATION</p>
				<p class="year">2015</p>

			</div>
		</div>
	</div>

</div>

<div id="donateMain">
	<hr />
	<br />
</div>

<div class="container-fluid">

	<div class="row donor_header">

		<div class="col-xs-6 text">

			<h2 class="h2style1">Donate</h2>

		</div>

	</div>

	<div class="row donate_help">

		<div class="col-xs-12">

			<p>HOW CAN YOU HELP?</p>

		</div>

	</div>

	<div class="row media_text">

		<div class="col-xs-12">

			<p class="mont_regular_22_darkgray">	Your generosity helps keep the doors open and the lights on, providing a sanctuary for those in need. Please consider a donation. </p>


		</div>

	</div>


	<section class="row more">

		<div class="col-xs-12 col-lg-4 more_volunteer">


			<img src="../resources/donate_dollar.svg" title="Dollar" alt="Dollar">

			<p class="vol_p mont_light_18_darkgray">
				Monetary donations are our biggest need right now. Recurring <span class="green">
					<a href="https://www.paypal.com/donate/?token=jeB7uObfTI7Nfw4Tx4PaidB_PzukgOctKJHDDfMJzE7JdkG6dfpuY6AlEvS1ktKjGQ9H2W&country.x=US&locale.x=US">PayPal</a>
				</span> donations can be scheduled from our website, even $10 makes a difference.
			</p>

		</div>

		<div class="col-xs-12 col-lg-4 more_stories">

			<img src="../resources/shoppingcart_icon.png"@*for some reason the donate_cart.svg file is missing the shopping cart in the middle*@ title="Cart" alt="Cart">

			<p class="youth_p mont_light_18_darkgray">
				Donate through rewards programs: <span class="green">
					<a href="https://smile.amazon.com/ref=smi_ext_ch_45-3245622_dl?_encoding=UTF8&ein=45-3245622&ref_=smi_chpf_redirect&ref_=smi_ext_ch_45-3245622_cl">Amazon Smile,</a>
				</span> <span class="green"><a href="https://www.smithsfoodanddrug.com/account/create/">Smiths Community Rewards,</a></span> or
				<span class="green"><a href="https://www.unitedway.org/">United Way,</a></span>
				<span class="green">Federal and State Employee contributions,@*</a>*@</span>
				<span class="green"><a href="https://loveutgiveut.razoo.com/organization/Youthfutures">LoveUTGiveUT</a></span>
			</p>

		</div>

		<div class="col-xs-12 col-lg-4 more_events">

			<img src="../resources/donate_hand.svg" title="Hand" alt="Hand">

			<p class="events_p mont_light_18_darkgray">Donate your time as a volunteer to help with needs around the shelter! <span class="green"><a href="https://www.classy.org/charity/youth-futures/c37253">Sign up here.</a></span></p>

		</div>

	</section>


</div>

<div class="container-fluid needs">

	<div class="row donate_help">

		<div class="col-xs-12">

			<p>LIST OF NEEDS</p>

		</div>

	</div>

	<div class="row">

		<div class="col-xs-12 col-md-4 needs_list first">

			<p class="needs_subheader">
				MOST IMPORTANT NEEDS
				(In order of priority)
			</p>
			<ul>
				<li>Cash donations</li>
				<li>Printer Paper</li>
				<li>Canned meat & Jerky</li>
				<li>Scotch tape</li>
				<li>Bus tokens or passes</li>
				<li>Earbud Headphones</li>
				<li>Cinch bags</li>
				<li>Batteries</li>
				<li>Sweat Pants</li>
				<li>Pajama Bottoms </li>
				<li>Sports bras</li>
				<li>Trail mix individuals</li>
				<li>Toilet Paper</li>
				<li>Condoms</li>
				<li>Tampons	</li>
				<li>Carabiners</li>
				<li>Paper plates and cups</li>
				<li>Men's and Women's Underwear</li>
				<li>Socks </li>
				<li>Kleenex individuals</li>
				<li>Undershirts, S M L XL</li>
				<li>Garbage bags 30 Gallon</li>
				<li>Garbage sacks small    bathroom</li>
				<li>Lip balm</li>
				<li>Ziploc bags, quart and gallon</li>
				<li>Energy Bars</li>
				<li>Heavy duty plastic storage bins that won't melt if heated in shed</li>
			</ul>

		</div>


		<div class="col-xs-12 col-md-4 needs_list">

			<p class="needs_subheader">MISC. NEEDS</p>
			<ul>
				<li>Minivan</li>
				<li>NEW Printer</li>
			</ul>

			<p class="needs_subheader">GIFT CARDS FOR</p>
			<ul>
				<li>Walmart</li>
				<li>Fun things to do</li>
				<li>Grocery store</li>
				<li>Maverick</li>
				<li>Restaurants</li>
				<li>Movies</li>
				<li>Bus passes or tokens</li>
				<li>Phone minutes </li>
				<li>Beauty salons/haircuts</li>
				<li>For shoe stores</li>
				<li>Lagoon passes</li>
			</ul>

		</div>

		<div class="col-xs-12 col-md-4 needs_list">

			<p class="needs_subheader">HOUSEHOLD FURNISHINGS NEEDS</p>
			<ul>
				<li>NEW pots and pans</li>
				<li>New Couches</li>
			</ul>

			<p class="needs_subheader">VOLUNTEERS</p>
			<ul>
				<li>Mentors</li>
				<li>Educators</li>
				<li>Group activity facilitators</li>
				<li>Meal preparers/providers</li>
				<li>Tutors</li>
				<li>Life skills trainers</li>
				<li>Beauticians</li>
				<li>Street Outreach Workers</li>
				<li>Artists for classes</li>
				<li>Yard work</li>
				<li>Interior painters</li>
			</ul>

			<p class="needs_subheader">REPAIR NEEDS</p>
			<ul>
				<li>Concrete or pavers 1500 sq. feet</li>
				<li>Cement sidewalk repair& labor</li>
			</ul>

		</div>



	</div>

</div>

<div id="contactMain">
	<hr />
	<br />
</div>

<div class="container-fluid needs">

	<div class="row donor_header">

		<div class="col-xs-6 text">

			<h2 class="h2style1">CONTACT</h2>

		</div>

	</div>


	<div class="row">

		<div class="col-xs-12 col-md-6 contact_form">

			<p class="contact_subheader">CONTACT US</p>

			<form method="post" name="myemailform" action="form-to-email.php">

				<input type="text" class="input_text" name="firstName" placeholder="First Name" maxlength="20"> <span class="change" id="fName_change">Required!</span>
				<br>
				<input type="text" class="input_text" name="lastName" placeholder="Last Name" maxlength="20"><span class="change" id="lName_change">Required!</span>
				<br>
				<input type="tel" name="phone" placeholder="Telephone (Optional)" maxlength="20">
				<br>
				<input type="email" class="input_text" name="email" placeholder="Email Address" maxlength="40"><span class="change" id="email_change">Required!</span>
				<br>
				<textarea name="message" class="input_text" placeholder="Message" maxlength="255"></textarea><span class="change" id="message_change">Required!</span>
				<br>
				<input type="submit" class="submit_button" id="submit" value="Submit" disabled>
				<input type="reset" value="Cancel" class="cancel" />


			</form>

		</div>

		<div class="col-xs-12 col-md-6 two_col">

			<p class="contact_subheader other_info">CALL US</p>
			<p class="contact_info_text contact_tel">Tel: 801-528-1214</p>

			<p class="contact_subheader other_info">COME SEE US</p>
			<p class="contact_info_text">2760 S. Adams Ave<br>Ogden, Utah 84403</p>

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1784.5861387467835!2d-111.96804305268928!3d41.215141436084046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87530f2689623957%3A0x49def70f5ee0a151!2sOgden+Youth+Futures!5e0!3m2!1sen!2sus!4v1492809010928" class="map" allowfullscreen></iframe>


		</div>

	</div>

	<div class="row contact_SM">

		<div class="col-xs-4">

			<p class="contact_subheader">SOCIAL MEDIA</p>

			<img src="../resources/contact_instagram.png" title="instagram icon" alt="instagram icon">
			<img src="../resources/contact_twitter.png" title="twitter icon" alt="twitter icon">
			<img src="../resources/contact_tumblr.png" title="tumblr icon" alt="tumblr icon">
			<img src="../resources/contact_fb.png" title="fb icon" alt="fb icon">

		</div>

	</div>


</div>

