@{ 
    ViewBag.Title = "Coming Soon";
}

    <section class="container-fluid commingSoon-header">
        <div class="row">
            <div class="col-xs-12 header-box">
                <div class="row">
                    <p class="comingSoon-text-greeting col-xs-12">Comming Soon!</p>
                </div>
            </div>
        </div>
    </section>

    <section id="ComingSoonMessage" class="container-fluid">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-11">
                <p class="green-header">
                    <span class="mont-semibold-dark-36 have-questions-heading">Check Back for updates</span>
                </p>
            </div>
        </div>
    </section>

    <footer class="container-fluid">
        <div class="row clear">
            <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
                <p class="quicksand-dark-18-white">Contact</p>
                <p class="mont-light-dark-14-email">Email: info@yfut.org</p>
                <p class="mont-light-dark-14-email">
                    Phone:
                    <tel>801-528-1214</tel>
                </p>
            </section>
            <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
                <p class="quicksand-dark-18-white">Mailing Address</p>
                <p class="mont-light-dark-14-email">Youth Futures<br /> POB 160301<br /> Clearfield, UT 84016</p>
            </section>
            <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
                <p class="quicksand-dark-18-white">Shelter Address</p>
                <p class="mont-light-dark-14-email">Youth Futures<br /> 2760 S. Adams Ave<br /> Ogden, UT 84403</p>
            </section>
        </div>
        <div class="copyright">
            <p class="mont-regular-dark-16-grey">© Youth Futures, Inc.</p>
        </div>
    </footer>
