
@{
    ViewBag.Title = "NotFound";
}

<section class="container-fluid main-header">
    <div class="row">
        <div class="col-xs-12 header-box">
            <div class="row">
                <p class="header-text-greeting col-xs-12">Oops!</p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid ErrorMesage">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-11">
            <p class="green-header">
                <span class="mont-semibold-dark-36 have-questions-heading">LOOKS LIKE YOUR PAGE IS NOT FOUND</span>
            </p>
        </div>
    </div>
</section>

