.navbar-inverse .navbar-nav li.donate {
	background-color: #1c5788;
}

.hist_main_img {
	background-image: url(../resources/history_header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 508px;
	margin: 0;	
}

.hist_main_img .text{
	  padding-top: 7%;
	  padding-left: 5%;	  
	  text-transform: uppercase;
}

.hist_main_img .text .h2style1{
	  color: #9ec54d;
}

@media (max-width: 1000px) {
	
	.h2style1, h2{
		font-size: 55px;
	}
	
}

.history_text{
	background-color: white;
}

.history_text p{
	padding: 5% 11%;	
	text-align: left;
}

.history_text_pics{
	background-color: white;
	padding-top: 2%;
	padding-left: 10%;
	Padding-right: 7%;
}

.history_text_pics img{
	padding: 0;
}

.history_text_pics .mont_light_14_white{
	color: #6a6a6a;
}

.hist_2nd_back_img {
	background-image: url(../resources/history_5000.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 277px;
	margin: 0;	
}

.hist_2nd_back_img_text{
	position: relative;
	top: 50%;
	transform:	translateY(-50%);
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
}

@media (max-width: 750px) {
	
	.hist_2nd_back_img_text h4{
		font-size: 20px;
	}
	
}

.hist_2nd_back_img_text h4{
	color: white;
}

.hist_subtitle{
	text-align: center;
}

.history_green_text{
	background-color: white;
}

.history_green_text p{
	color: #9ec54d;
	padding-left: 12%;
	padding-right: 12%;
	text-align: center;
}

.more{
	padding-bottom: 10%;
}

.more .col-xs-4 {
	height: 582px;
}

.more p{
	padding: 5%;
}

.more .green {
	color: #71963a;
}

.green a{
	color: #71963a;
}

.text{
	padding-left: 5%;
}

.outreach_main_img {
	background-image: url(../resources/outreach_header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 508px;
	margin: 0;	
}

.outreach_main_img .text{
	  padding-top: 7%;
	  padding-left: 5%;	  
	  text-transform: uppercase;
}

.outreach_main_img .text .h2style1{
	  color: #9ec54d;
}

.outreach_text{
	background-color: white;
}

.outreach_text p{
	padding: 5% 11%;
	padding-bottom: 0;
	text-align: left;
}

.outreach_bullet {
	background-color: white;
}

.outreach_bullet {
	font-family: "montserrat-regular";
	font-size: 24px;
	line-height: 44px;
	color: #1c5788;
	padding-left: 10%;
	padding-right: 7%;
	padding-bottom: 10%;
}

.outreach_bullet .col-xs-6 {
	padding: 0%;
}

.board_header {
	background-color: white;
}

.board_header .text{
	padding-top: 5%;
	padding-bottom: 5%;	  
	text-transform: uppercase;
	  
}

.board_header .text h2{
	color: #ababab;
	margin: 0;		
}

.board_header .text  .h2style1{
	  color: #8ebc3d;
}

.board_members {
	background-color: white;
	padding-left: 5%;
	padding-bottom: 5%;	
}

.board_members {
	font-family: "montserrat-light";
	font-size: 16px;
	line-height: 30px;
	color: #474747;
}

.board_members  span.name {
	font-size: 20px;
}

.board_members   img {
	padding-bottom: 10%;
}

.email
{
	color: #8ebc3d;
}

.media_header {
	background-color: white;
}

.media_header .text{
	padding-top: 5%;
	padding-bottom: 3%;
	padding-left: 5%;
	text-transform: uppercase;
	  
}

.media_header .text h2{
	color: #ababab;
	margin: 0;		
}

.media_header .text  .h2style1{
	  color: #8ebc3d;
}

.media_subheader {
	background-color: white;
	padding-left: 10%;
	padding-bottom: 2%;
}

.media_subheader  .title{
	font-family: "montserrat-regular";
	font-size: 32px;
	line-height: 36px;
	color: #174475;
}

.media_subheader .time{
	font-size: 20px;
}

.media_subheader  .link{
	font-family: "montserrat-regular";
	font-size: 20px;
	line-height: 36px;
	color: #8ebc3d;
}

.media_pic {
	background-color: white;
	padding-bottom: 5%;
}

.media_pic .subtext {
	font-family: "montserrat-light";
	font-size: 14px;
	line-height: 24px;
	font-style: italic;
	color: #1c5788;
}

.media_text{
	background-color: white;
	padding-bottom: 5%;
}

.media_text p{
	padding: 1% 11%;
	text-align: left;
}

.donor_header {
	background-color: white;
}

.donor_header .text{
	padding-top: 5%;
	padding-bottom: 3%;
	padding-left: 5%;
	text-transform: uppercase;
	  
}

.donor_header .text h2{
	color: #ababab;
	margin: 0;		
}

.donor_header .text  .h2style1{
	  color: #8ebc3d;
}

.donor_list {
	background-color: white;
	padding-left: 5%;
}

.donor_subheader {
	background-color: white;
	padding-left: 5%;
	padding-bottom: 2%;
}

.donor_subheader  .title_plat{
	font-family: "montserrat-regular";
	font-size: 32px;
	line-height: 36px;
	color: #174475;
}
/*og dimensions - 120 x 369*/
.col-xs-4.donor_box {
	height: 60px;
	width: 185px;
	margin: .5%;
}

.col-xs-4.donor_box p{
	color: white;
}
/* og font size 20 x 30*/
.col-xs-4.donor_box .donor_name{ 
	font-family: "montserrat-semibold";
	font-size: 10px;
	line-height: 15px;
	padding-top: 5%;
	margin: 0;
}
/*og font size 16 * 30*/
.col-xs-4.donor_box .year{ 
	font-family: "montserrat-light";
	font-size: 8px;
	line-height: 15px;
	color: white;	
}

.col-xs-4.donor_box.plat{
	background-color: #1c5788;
}

.donor_subheader  .title_gold{
	font-family: "montserrat-regular";
	font-size: 32px;
	line-height: 36px;
	color: #6a6a6a;
	margin-top: 5%;
}

.col-xs-4.donor_box.gold{
	background-color: #6a6a6a;
}

.donor_subheader  .title_silver{
	font-family: "montserrat-regular";
	font-size: 32px;
	line-height: 36px;
	color: #b9b9b9;
	margin-top: 5%;
}

.col-xs-4.donor_box.silver{
	background-color: #b9b9b9;
}

.donor_subheader  .title_bronze{
	font-family: "montserrat-regular";
	font-size: 32px;
	line-height: 36px;
	color: #977b2d;
	margin-top: 5%;
}

.col-xs-4.donor_box.bronze{
	background-color: #977b2d;
}

.donor_list.bronze{
	padding-bottom: 5%;
}

.donate_help{
	background-color: white;
	font-family: "montserrat-regular";
	font-size: 32px;
	line-height: 36px;
	color: #6a6a6a;
	padding-left: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
	
}

.needs{
	background-color: white;	
}


.needs_subheader {
	font-family: "montserrat-semibold";
	font-size: 20px;
	line-height: 30px;
	color: #474747;
}

.needs ul{
	list-style-type: none;
	font-family: "montserrat-light";
	font-size: 20px;
	line-height: 30px;
	color: #474747;
	
}

.needs_list {
	max-width: 300px;
	margin-left: 5%;
	
}

.needs_list.first{
		margin-left: 10%;
}

.needs_list ul{
	text-align: left;
	padding-left: 0;	
}

.change {
	 visibility: hidden;
}


.two_col{
	padding-left: 5%;
}

.contact_subheader {
	font-family: "montserrat-semibold";
	font-size: 20px;
	line-height: 30px;
	color: #474747;
	padding-bottom: 2%;
}

.contact_subheader.other_info {
	padding-bottom: 0;
	margin-bottom: 0;
}

.contact_form {
	padding-left: 10%;
}

.contact_form input {
	width: 300px;
	height: 36px;
	margin-bottom: 2%;
}

.contact_form textarea {
	width: 500px;
	height: 252px;
	margin-bottom: 5%;
}


.submit_button {
	background-color: #9ec54d;
	font-family: "montserrat-semibold";
	font-size: 14px;
	line-height: 29px;
	color: #ffffff;
	width: 145px !important;
	height: 36px !important;
	border: 0;
}

.cancel {
	background-color: white;
	font-family: "montserrat-semibold";
	font-size: 14px;
	line-height: 29px;
	color: #9ec54d;
	width: 145px !important;
	height: 36px !important;
	border-style: solid;
	border-width: 1px;
	border-color: #9ec54d;
}

.contact_info_text {
	list-style-type: none;
	font-family: "montserrat-light";
	font-size: 20px;
	line-height: 30px;
	color: #474747;
}

.contact_info_text.contact_tel {
	margin-bottom: 5%;
}

.map{
	margin-top: 5%;
	width: 368px;
	height: 368px;
	border: 0;
}

@media (max-width: 750px) {

	.map{
		margin-top: 5%;
		width: 300px;
		height: 300px;
		border: 0;
	}

	.contact_form input {
		width: 200px;
		height: 36px;
		margin-bottom: 2%;
	}

	.contact_form textarea {
		width: 250px;
		height: 252px;
		margin-bottom: 5%;
	}
}

.contact_SM {
	padding-top: 5%;
	padding-left: 9%;
	padding-bottom: 10%;
}

.pre-scrollable {
	max-height: 150px;
    overflow-y: scroll;
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        left: 2px;
        right:auto;
    }
     .navbar-right .dropdown-menu > li > a {
       margin: 10px 0 10px 0;
    }
}