
@{
    ViewBag.Title = "ComingSoon";
}

<body class="comingSoon">
    <section class="container-fluid fullOpac">
        <div class="row">
            <div class="col-xs-12 ">
                <div class="row comingSoonText">
                    <p class="col-xs-12">Coming Soon!</p>
                    <img src="~/resources/Under_construction.png"/>
                </div>
            </div>
        </div>
    </section>
</body>

@*<section class="container-fluid commingSoon-header">
    <div class="row">
        <div class="col-xs-12 header-box">
            <div class="row">
                <p class="comingSoon-text-greeting col-xs-12">Comming Soon!</p>
            </div>
        </div>
    </div>
</section>

<section id="ComingSoonMessage" class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-11">
            <p class="green-header">
                <span class="mont-semibold-dark-36 have-questions-heading">Check Back for updates</span>
            </p>
        </div>
    </div>
</section>*@

