
@{
    ViewBag.Title = "NotFound";
}
<title>Not Found</title>
<body class="comingSoon">
    <section class="container-fluid comingSoonText">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <p class="col-xs-12">Oops! 404 Error</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row errorSmallText">
            <div class="col-xs-offset-1 col-xs-11">
                <p>
                    <span>LOOKS LIKE THE PAGE YOU WERE TRYING TO REACH WASN'T FOUND</span>
                </p>
            </div>
        </div>
    </section>
</body>


@*<section id="ErrorMessage" class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-11">
            <p class="green-header">
                <span class="mont-semibold-dark-36 have-questions-heading">LOOKS LIKE YOUR PAGE IS NOT FOUND</span>
            </p>
        </div>
    </div>
</section>*@

