@font-face {
    font-family: montserrat-light;
    src: url(../resources/montserrat-light.otf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(../resources/montserrat-regular.otf);
}

@font-face {
    font-family: montserrat-semibold;
    src: url(../resources/montserrat-semibold.otf);
}

@font-face {
    font-family: quicksand-bold;
    src: url(../resources/quicksand-bold.otf);
}

.dark_back{
  background-color: #474747;
  width: 620px;
  margin: 0px auto;
  padding: 24px; 

}
.light_back{
  background-color: #ffffff;
  width:620px;
  margin: 0px auto;
  padding: 24px; 
}

h1 {
	font-family: "quicksand-bold";
	font-size: 214px;
	line-height: 244px;
	color: #ffffff;
	margin: 0px;
	
}

h2 {
	font-family: "quicksand-bold";
	font-size: 87px;
	line-height: 92px;
	color: #ffffff;
}

h3 {
	font-family: "montserrat-semibold";
	font-size: 64px;
	line-height: 78px;
	color: #ffffff;
}

h4 {
	font-family: "quicksand-bold";
	font-size: 48px;
	line-height: 56px;
	color: #6e8d45;
}

h6{
	
	font-family: "quicksand-bold";
	font-size: 38px;
	line-height: 44px;
	color: #9ec54d;
}

.quick_bold_38_darkgreen {
	
	font-family: "quicksand-bold";
	font-size: 38px;
	line-height: 44px;
	color: #83a44a;
}

.quick_bold_38_lightgreen {
	
	font-family: "quicksand-bold";
	font-size: 38px;
	line-height: 43px;
	color: #9ec54d;
}

.quick_bold_36_white {
	
	font-family: "quicksand-bold";
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
}

.mont_semibold_36_white {
	
	font-family: "montserrat-semibold";
	font-size: 36px;
	line-height: 44px;
	color: #ffffff;
}

.quick_bold_34_lightgray {
	
	font-family: "quicksand-bold";
	font-size: 34px;
	line-height: 39px;
	color: #c3c3c3;
}

.quick_bold_32_darkgray {
	
	font-family: "quicksand-bold";
	font-size: 32px;
	line-height: 37px;
	color: #474747;
}

.mont_light_32_white {
	
	font-family: "montserrat-light";
	font-size: 32px;
	line-height: 54px;
	color: #ffffff;
}

.quick_bold_30_darkgray {
	
	font-family: "quicksand-bold";
	font-size: 30px;
	line-height: 35px;
	color: #474747;
}

.quick_bold_24_darkgreen {
	
	font-family: "quicksand-bold";
	font-size: 24px;
	line-height: 28px;
	color: #83a44a;
}

.quick_bold_24_darkgray {
	
	font-family: "quicksand-bold";
	font-size: 24px;
	line-height: 28px;
	color: #474747;
}

.quick_bold_24_lightgreen {
	
	font-family: "quicksand-bold";
	font-size: 24px;
	line-height: 28px;
	color: #6e8d45;
}

.mont_semibold_24_darkgray {
	
	font-family: "montserrat-semibold";
	font-size: 24px;
	line-height: 29px;
	color: #474747;
}

.mont_light_22_darkgray {
	
	font-family: "montserrat-light";
	font-size: 22px;
	line-height: 30px;
	color: #474747;
}

.mont_regular_22_darkgray {
	
	font-family: "montserrat-regular";
	font-size: 22px;
	line-height: 30px;
	color: #474747;
}

.mont_light_18_darkgray {
	
	font-family: "montserrat-light";
	font-size: 18px;
	line-height: 29px;
	color: #474747;
}

.quick_bold_18_darkgray {
	
	font-family: "quicksand-bold";
	font-size: 18px;
	line-height: 21px;
	color: #474747;
}

.mont_regular_18_darkgreen {
	
	font-family: "montserrat-regular";
	font-size: 18px;
	line-height: 21px;
	color: #83a44a;
}

.mont_regular_18_darkgray {
	
	font-family: "montserrat-regular";
	font-size: 18px;
	line-height: 21px;
	color: #474747;
}

.quick_bold_18_white {
	
	font-family: "quicksand-bold";
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

.mont_regular_18_white {
	
	font-family: "montserrat-regular";
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

.mont_regular_16_lightgray {
	
	font-family: "montserrat-regular";
	font-size: 16px;
	line-height: 22px;
	color: #b9b9b9;
}

.mont_light_14_white {
	
	font-family: "montserrat-light";
	font-size: 14px;
	line-height: 29px;
	color: #ffffff;
}

.mont_light_14_white_2 {
	
	font-family: "montserrat-light";
	font-size: 14px;
	line-height: 19px;
	color: #ffffff;
}body {
}
