
.topDivMarginLayout {
    max-width: 1155px; 
    margin: auto; 
    margin-top: 50px;
}

.navBarWidthLayout {
    max-width: 100%; 
    position: fixed; 
    margin: 0;
    max-height: 150px;
    box-shadow: 1px 2px 10px grey;
}

.navbarLayout {
    font-family: "montserrat-regular";
    font-size: 18px;
    line-height: 21px;
    background-color: white;
}