@media (max-width: 1050px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.content {
	max-width: 1280px;
	margin: auto;	
}

.container-fluid {
	/*padding: 0;*/
}

.row{
	margin: 0;
}

.navbar{
	font-family: "montserrat-regular";
	font-size: 18px;
	line-height: 21px;
	background-color: white;
	margin: 0;
}

.navbar-inverse .navbar-nav>li>a {
	color: #474747;
}

.navbar-header {
	height: 103px;
}

.navbar-toggle{
	background: black;		
}

.navbar-collapse{
	padding: 0;
}

.nav.navbar-nav.navbar-right{
	margin: 0;	
	padding-bottom: 0;	
}

.dropdown-toggle{
	height: 74px;
}

.dropdown-toggle.active {
	background-color: #9ec54d;
}

.nav.navbar-nav.navbar-right li{
	padding-top: 29px;
}

.nav.navbar-nav.navbar-right .home a{
	color: #9ec54d;
}

.nav.navbar-nav.navbar-right li.donate {
    background-color: #1c5788;
}

.nav.navbar-nav.navbar-right li.donate:hover {
    color: #83a44a;
	background-color: #474747;
}

.navbar-inverse .navbar-nav li.donate {
	height: 103px;
	width: 159px;
	background-color: #474747;
}

.navbar-inverse .navbar-nav>li.donate>a {
	color: white;
	padding-left: 25%;
}

.navbar-toggle{
	margin-top: 3%;
}

.dropdown-menu>li>a {
	font-size: 18px;
}

.navbar-inverse .navbar-nav>li>a.active {
color: white;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	color: #9ec54d;
	background-color: white;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	color: #9ec54d;
	background-color: white;
}

.navbar-inverse .navbar-nav>.open>a.active, .navbar-inverse .navbar-nav>.open>a.active:focus, .navbar-inverse .navbar-nav>.open>a.active:hover {
	color: #9ec54d;
	background-color: white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #9ec54d;
	height: 74px;
}

.navbar-inverse .navbar-nav>.donate>a:focus, .navbar-inverse .navbar-nav>.donate>a:hover {
	color: white;	
	background-color: #474747;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
	color: #9ec54d;
}


.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #9ec54d;
	background-color: white;
}

.questions {
	background-color: #9ec54d;
	min-height: 103px;
	margin: 0;
}

.questions .text {
	font-family: montserrat-semibold;
	font-size: 33px;  
	color: white;
	text-align: right;
	padding-top: 2%;
}

.questions .phone {
	font-family: quicksand-bold;
	font-size: 33px;
	font-weight: bold;
	color: #4a4a4a;
	text-align: left;
	padding-top: 2%;
}

.questions .phone p {
	padding-left: 2%;
}

@media (max-width: 991px) {
	.questions .phone {
		text-align: left;
		display: inline-block;
		width: auto;
	}
	.questions .text {
		text-align: left;
		display: inline-block;
		width: auto;
	}
	.questions .phone p {
		display: inline;
	}
	.questions .text p {
		display: inline;
	}
}

@media (max-width: 768px) {
	.questions .phone {
		text-align: left;
		display: block;
	}
	.questions .text {
		text-align: left;
		display: block;
	}
}

@media (max-width: 420px) {
	.questions .phone {
		text-align: left;
		width: 100%;
		font-size: 1.8em;
	}
	.questions .text {
		text-align: left;
		width: 100%;
		font-size: 1.8em;
	}
}

.main_img {
	background-image: url(../resources/home_header.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 508px;
	margin: 0;	
}

.main_img_text{
	position: relative;
	top: 50%;
	transform:	translateY(-50%);
	padding: 0;   
}

@media (max-width: 590px) {
   .main_img_text h1{
        font-size: 150px;
	}

	.main_img_p{
        font-size: 24px;
		margin: 0;
	}
}

.main_img_p {
	background-color: white;
	width: 87%;
}

.services {
	background: white;
	margin: 0;
}

.services_header{
	margin: 0;
	padding-top: 5%;	
	text-align: center;
}

.services_header_sub {
	padding-left: 18%;
	padding-right: 18%;
	text-align: center;
	padding-bottom: 2.5%
}

.services_overnight, .services_drop_in, .services_outreach{
	height: 594px;
	width: 330px;
	border-style: solid;
	border-width: 1px;
	color: #b9b9b9;	
	margin: 2%;
}

.services_overnight{
	margin-left: 5%;
}


.services_overnight img, .services_drop_in img, .services_outreach img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 10%;
	padding-bottom: 10%;
}

.services_outreach img{
	padding-bottom: 16%;
}

.overnight_title, .drop_in_title, .outreach_title {
	text-align: center;
}

.services_learnmore {
	position:absolute;
    bottom:0;
	left: 25%;
	padding-bottom: 5%;		
}

.services_learnmore a{
	color: #6e8d45;		
}

.main_purpose_img {
	background-image: url(../resources/purpose.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 695px;
	margin: 0;	
}

.main_purpose_text{
	position: relative;
	top: 50%;
	transform:	translateY(-50%);
	padding-left: 5%;
	padding-right: 5%;	
}

@media (max-width: 753px) {
	
   .main_purpose_text h2{
        font-size: 47px;
	}

	.main_purpose_p{
        font-size: 16px;
		margin: 0;
	}
	
	.main_purpose_p_1{
        font-size: 20px;
		margin: 0;		
	}
}

.main_purpose_text h2{
	margin: 0;	
}

.main_purpose_h2_1{
	color: #8ebc3d;
	padding-bottom: 1%;	
}

.main_purpose_p {
	text-align: center;
	padding-bottom: 2%;
}

.main_purpose_p_1 {
	text-align: center;
	background-color: white;
	color: #474747;
}

.main_purpose_p_1 span{
	color: #8ebc3d;
}

.main_partners{
	background-color: #474747;
	margin: 0;
}

.main_partners img{
	margin-top: 10%;
	margin-bottom: 10%;
}

.main_partners_text {
	margin-left: 10%;
	margin-top: 22%;
}

@media (max-width: 1000px) {
	
   .main_partners_text {
	margin-left: 25%;
	margin-top: 22%;
	}

	.main_partners img{
	margin-left: 25%;
	margin-top: 5%;
	margin-bottom: 5%;
	
	
	}

}

.more {
	background: white;
	margin: 0;
}

.more_volunteer, .more_stories, .more_events{
	height: 450px;
	margin-top: 5%;
	margin-bottom: 5%;
}

.more_stories {
	border-left-style: dashed;
	border-right-style: dashed;
	border-width: 2px;
	color: #b9b9b9;	
}

.more_volunteer img, .more_stories img, .more_events img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 10%;
	padding-bottom: 10%;
}

.vol_title, .youth_title, .events_title {
	text-align: center;
}

.more_learnmore {
	position:absolute;
    bottom:0;
	left: 25%;
	padding-bottom: 5%;		
}

.more_learnmore a{
	color: #6e8d45;		
}


footer {
  min-height: 206px;
  width: 100%;
  background-image: linear-gradient(261deg, #b2da55, #678a2a);
	position: relative;
}

footer .quick_bold_18_white  {
	margin: 0;
}

footer .mont_light_14_white  {
	margin: 0;
}

footer p  {
	padding: 0;
}

.foot_cont{
	padding-top: 3%;
}

.contact{
	padding-left: 3%;
}

.social{
	padding-top: 1%;	
}

.social img{
	margin: 1%;
}

.copyright{
	position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
@media (min-width: 979px) {
    body {
        padding-top: 60px;
    }
}

/*.border {
    border: thick;
    border-color: chartreuse;
}*/
